{% extends 'app_LyfeSync/layouts/masterpage_logado.html' %}
{% load static %}

{% block title %}
  Registrar Afirmação
{% endblock %}

{% block content_logado %}
  <div class="container-fluid p-4 p-md-5 bg-white afirmacao-page-container">
    <form method="POST">
      {% csrf_token %}

      <div class="d-flex justify-content-between align-items-start mb-5">
        <h1 class="h1 fw-semibold afirmacao-title-color-new afirmacao-main-title">Afirmações Positivas</h1>

        <div class="d-flex align-items-center gap-2">
          <label class="text-secondary fw-medium afirmacao-date-label">Data:</label>

          {% with is_disabled=form.data.value|yesno:'disabled,' %}
            <input type="date" name="{{ form.data.name|default:'data' }}" value="{{ form.data.value|default:'' }}" class="date-input-placeholder form-control p-2 text-center afirmacao-date-input" {{ is_disabled }} />
          {% endwith %}
        </div>
      </div>

      <div class="text-center mx-auto mb-5 afirmacao-text-container">
        <p class="h4 fw-medium afirmacao-text-color">Transforme seu dia com uma afirmação positiva.</p>
        <p class="h5 fw-bold afirmacao-text-color mt-1">Escreva Aqui.</p>
      </div>

      <div class="d-flex justify-content-center align-items-center gap-5 afirmacao-circle-group">
        <div class="afirmacao-circle circle-blue"></div>

        <div class="afirmacao-circle circle-pink position-relative p-4">
          <textarea name="{{ form.conteudo.name|default:'conteudo' }}" id="{{ form.conteudo.id_for_label|default:'id_conteudo' }}" rows="8" class="form-control h-100 p-4 bg-transparent border-0 text-dark afirmacao-textarea" placeholder="Sua afirmação deve caber neste espaço..." required>{{ form.conteudo.value|default:'' }}</textarea>

          {% if form.conteudo.errors %}
            <p class="position-absolute bottom-0 text-danger small bg-white p-1 rounded afirmacao-error-message">{{ form.conteudo.errors.0 }}</p>
          {% endif %}
        </div>

        <div class="afirmacao-circle circle-green"></div>
      </div>

      <div class="d-flex justify-content-end pt-4 pe-5">
        <button type="submit" class="btn-salvar-form-afirmacao-new btn btn-lg text-white fw-bold">SALVAR</button>
      </div>
    </form>
  </div>
{% endblock %}
