{% extends 'app_LyfeSync/layouts/masterpage_logado.html' %}
{% load static %}

{% block title %}Relatório de Humor{% endblock %}

{% block content_logado %}
    <div class="container-fluid">
        <h1 class="mb-4">Relatório de Variação de Humor</h1>
        <p>Acompanhe a evolução do seu estado emocional ao longo das semanas/meses.</p>
        <div class="alert alert-success mt-4" role="alert">
            Esta página exibirá gráficos de humor e dados de frequência.
        </div>
    </div>
{% endblock %}