{% extends 'app_LyfeSync/layouts/masterpage_logado.html' %}
{% load static %}

{% block title %}Relatório de Afirmações{% endblock %}

{% block content_logado %}
    <div class="container-fluid">
        <h1 class="mb-4">Relatório de Uso de Afirmações</h1>
        <p>Acompanhe a frequência com que você usa e atualiza suas afirmações.</p>
        <div class="alert alert-success mt-4" role="alert">
            Esta página exibirá dados sobre o uso das suas afirmações.
        </div>
    </div>
{% endblock %}