{% extends 'app_LyfeSync/layouts/masterpage_logado.html' %}
{% load static %}

{% block title %}Relatório de Hábitos{% endblock %}

{% block content_logado %}
    <div class="container-fluid">
        <h1 class="mb-4">Relatório de Progresso de Hábitos</h1>
        <p>Visão geral do seu desempenho nos hábitos registrados.</p>
        <div class="alert alert-success mt-4" role="alert">
            Esta página exibirá gráficos e estatísticas sobre seus hábitos.
        </div>
    </div>
{% endblock %}