{# alterarGratidao.html #}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'app_LyfeSync/css/autocuidado.css' %}">
{% endblock %}

<form method="POST" id="form-alterar-gratidao" data-gratidao-id="{{ gratidao_id }}">
    {% csrf_token %}
    
    <div class="mb-3">
        <label for="{{ form.data.id_for_label }}" class="form-label fw-semibold">Data</label>
        {{ form.data }}
        {% if form.data.errors %}
            <div class="text-danger small mt-1">{{ form.data.errors.0 }}</div>
        {% endif %}
    </div>

    <div class="mb-4">
        <label for="{{ form.conteudo.id_for_label }}" class="form-label fw-semibold">Minha Gratidão</label>
        {{ form.conteudo }}
        {% if form.conteudo.errors %}
            <div class="text-danger small mt-1">{{ form.conteudo.errors.0 }}</div>
        {% endif %}
    </div>
    
    {# Botões de Ação #}
    <div class="d-flex justify-content-between pt-2">
        {# Botão de Excluir #}
        <button type="button" class="btn btn-danger btn-sm" onclick="deletarGratidao({{ gratidao_id }})">
            <svg class="gratidao-icon-size me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
            Excluir
        </button>
        
        {# Botão de Salvar (Alterar) #}
        <button type="submit" class="btn btn-warning text-white fw-bold">
            Salvar Alteração
        </button>
    </div>
</form>

<div class="d-flex justify-content-between mt-5">
    <button onclick="window.history.back()" class="btn btn-outline-secondary btn-lg shadow-sm">
        <i class="bi bi-arrow-left me-2"></i> Voltar à Página Anterior
    </button>
</div>