{#relatórioGratidao.html#}
{% extends 'app_LyfeSync/layouts/masterpage_logado.html' %}
{% load static %}

{% block title %}Relatório de Gratidão{% endblock %}

{% block content_logado %}
    <div class="container-fluid">
        <h1 class="mb-4">Relatório de Frequência de Gratidão</h1>
        <p>Estatísticas sobre a sua prática de gratidão.</p>
        <div class="alert alert-success mt-4" role="alert">
            Esta página exibirá dados sobre seus registros de gratidão.
        </div>
    </div>
{% endblock %}