/* home.css */
/* ===================== ESTILOS DA PÁGINA INICIAL PÚBLICA ===================== */

/* O body, navbar e footer herdam de masterpage.css */

/* Seção de Banner */
.banner-section {
    margin-top: 0;
    max-height: 450px;
    overflow: hidden;
    /* Garante que o conteúdo que extrapolar a altura seja cortado */
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Seção de Cards/Recursos */
.card-img {
    width: 100%;
    max-width: 150px;
    /* Tamanho fixo para os ícones */
    height: 150px;
    object-fit: cover;
    border: 5px solid #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card-img:hover {
    transform: translateY(-5px);
    border-color: var(--primary-color);
}

.card-description {
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 15px;
    color: #e88972;
}

.btn-contato {
    background-color: #e88972;
    color: white;
}

.btn-contato:hover {
    background-color: #c9715a;
    color: #f0f0f0;
}